.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  gap: 1rem;
  border-bottom: 1px solid var(--gray-alpha-200);
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  font-weight: 600;
  color: whitesmoke;
}
